body {
    overflow-x: hidden!important;
  }
  
  .category {
    text-align: center;
  }
  
  #section {
    position: relative;
  }
  
  .header section .title {
    justify-content: center;
  }
  .title {
    position: absolute!important;
    right: 48%!important;
    left: 48%!important;
    margin: auto!important;
  }
  
  .filter .form-group {
    padding: 5px;
  }
  
  
  .header {
      background-color: transparent;
      padding: 20px;
      width: 100%;
      z-index: 1;
      position: fixed;
      color: white;
      transition: 0.3s;
      font-family: proxima-nova,sans-serif;
      letter-spacing: 3px;
  
    }
    
    .header.visible{
      background-color: white;
      color: black;
      transition: 0.3s;
    }
  
    .header.fixed {
      background-color: white;
      color: black;
      transition: 0.3s;
    }
  
    a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
  }
  
    .header section{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0px 0;
    }
    
    /* .header section div{
      display: flex;
      flex-direction: row;
    } */
    
    .header nav{
      margin: 10px 0;
    }
    
  
    .header nav ul{
      display: flex;
      flex-direction: row;
      justify-content: center;
      list-style-type: none;
    }
    
    .nav-item {
        list-style-type: none;
    }
  
    .nav-link {
        padding: 0;
        margin-left: 5px;
        margin-right: 5px;
    }
  
  
    .main {
        z-index: -1;
    }
  
    #mySidenav {
      z-index: 99;
    }
  
    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
    
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    .sidenav a:hover {
      color: #f1f1f1;
    }
    
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
  
    .search {
      background-color: transparent;
      border: transparent;
    }
  
    .search i {
      size: 30px;
    }
    
  
    .nav-item .nav-link {
      padding-top: 10px;
    }
  
    li {
      padding: 10px;
      letter-spacing: 5px;
    }
  
    .header .menu-items ul li {
      margin: 3px!important;
    }
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
  
    @media screen and (max-width: 1000px) {
      #menu-items {
        display: none;
      }
    }
  
    @media screen and (min-width: 1000px) {
      #menu-items {
        display: block;
      }
    }
  
  
  .title {
    display: flex;
  }
  
  .welcome {
    margin: 0; 
    padding: 0 !important;
  }
  
  .notwelcome {
    padding-top: 170px;
    padding-bottom: 40px;
  }
  @media screen and (max-width: 1000px) {
    .notwelcome {
      padding-top: 100px;
      padding-bottom: 20px;
      padding-left: 10px;
      padding-right: 10px;
  
    }
  }
  
  body {
    overflow-x: hidden!important;
  }
  
  .category {
    text-align: center;
  }
  
  #section {
    position: relative;
  }
  
  .header section .title {
    justify-content: center;
  }
  .title {
    position: absolute!important;
    right: 48%!important;
    left: 48%!important;
    margin: auto!important;
  }
  
  .filter .form-group {
    padding: 5px;
  }
  